:root {
  --warna-utama: green;
}

.container {
  padding-top: 70px;
  z-index: 1; 
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 .card {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    /* margin-left: 20px;
    margin-right: 20px; */
    box-shadow: 2px 2px 2px 2px var(--warna-utama);
  }
 
  .card-header {
    background-color: var(--warna-utama);
    color: white;
  }

  .header-kitab-list {
    width: 100%;
  }
  .circle {
    display: inline-block;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    background-color: var(--warna-utama);
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px rgb(185, 159, 7);
  }
  
  .card-kitab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
  }

  .card-kitab:hover {
    /* Properti gaya saat elemen card dihover */
    transform: scale(1.1);
    box-shadow: 0 0 8px var(--warna-utama);
  }

  @font-face{
    font-family:'LPMQ';
    src:url('https://kangismet.github.io/fonts/lpmq.eot');
    src:url('https://kangismet.github.io/fonts/lpmq.eot?#iefix') format('embedded-opentype'),
    url('https://kangismet.github.io/fonts/lpmq.ttf') format('truetype');
    font-weight:400;
    font-weight:normal;
    font-display: swap;
    }
    .arab{
    line-height: 40px;
    font-family: LPMQ,"Traditional Arabic",Tahoma,sans-serif;
    font-weight: bold;
    text-align: right;
    direction: rtl;
    }

  .terjemah{
    text-align: left;
  }
  .card-body {
    text-align: center;
    
  }
  .search {
    flex: auto;
    display: inline-flex;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 100;
    color: white;
    background-color: var(--warna-utama);
    width: 100%;
    box-shadow: inset 0px 0px 4px rgb(192, 194, 191) ;
  }
  .navbar-brand {
    color: white;
    font-weight: bolder;
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  hr {
    border: 1px solid var(--warna-utama);
    margin: 10px 0;
  }

  .active{
    background-color: green;
    color: white;
  }

  .green {
    background-color: white;
    color: green;
  }

  .alert {
    width: 100%;
    height: 40px;
  }
 